<h1>
  <% if @user.present? %>
    <%= gravatar_for @user %>
    <%= @user.name %>
  <% end %>
</h1>
  <div col="row">
    <div col="col-xs-4">プロフィール</div><div class="col-xs-8"><%= @user.profile %></div>
    <div col="col-xs-4"></div><div class="col-xs-8">地域:<%= @user.area %></div>
  </div>







<%#<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%#<%= render 'shared/error_messages', object: f.object %>
    
      <%#<%= f.label :area %>
      <%#<%= f.text_field :area, class: 'form-control' %>
      
      <%#<%= f.label :profile %>
      <%#<%= f.text_area :profile, :size => "40x30", :class=> "form-control" %>
              <%# area profile %>
    <%#<% end %>　　　<%# Create my account %>
  <%#</div>
</div>%>
